<html>
<head>{% include 'header.html' %}</head>
<script>
var ui = {};
function initUI() {}
$(document).ready(function() {
  initUI();
  hljs.initHighlightingOnLoad();
});
</script>
<style>
</style>
<body>
{% include 'navbar.html' %}
<div class="container">

<div class="row">
<div class="col-sm-12">
<div class="body-container">

<h6>Installation Guide</h6><br />

解压
<pre><code class="powershell">sudo tar -xzf pycharm-community-2020.3.tar.gz</code></pre>

下載
<pre><code class="powershell">curl –O [URL]</code></pre>

CPU & MEM
<pre><code class="powershell">watch -n 1 ps -eo pid,ppid,cmd,%mem,%cpu --sort=-%mem | head</code></pre>
    
MEM記億
<pre><code class="powershell">watch -n 1 free -m</code></pre>

網絡端口
<pre><code class="powershell">sudo netstat -tulpn | grep LISTEN
sudo lsof -i -P -n | grep LISTEN</code></pre>

操作系統
<pre><code class="powershell">lsb_release -a
uname -m && cat /etc/*release
gcc --version</code></pre>

編譯庫
<pre><code class="powershell">sudo apt-get install python3-libnvinfer-dev
sudo apt-get install linux-headers-$(uname -r)
sudo apt-get install freeglut3-dev build-essential libx11-dev libxmu-dev libxi-dev libgl1-mesa-glx libglu1-mesa libglu1-mesa-dev</code></pre>

尋找檔案
<pre><code class="powershell">sudo find /usr -name libcublas.so*
sudo locate libcublas.so</code></pre>

監聽Nvidia
<pre><code class="powershell">watch -n 1 nvidia-smi</code></pre>

刪除已安裝的庫
<pre><code class="powershell">dpkg -l | grep -e cuda-.* | awk '{print $2}' | xargs -n1 sudo dpkg --purge --force-all
dpkg -l | grep -e nvidia-.* | awk '{print $2}' | xargs -n1 sudo dpkg --purge --force-all
dpkg -l | grep -e libnvidia-.* | awk '{print $2}' | xargs -n1 sudo dpkg --purge --force-all

dpkg -l | grep nvidia
dpkg -l | grep cuda
dpkg -l | grep cudnn
dpkg -l | grep libnvinfer
dpkg -l | grep nv-tensorrt
sudo apt-get remove --purge '^nvidia-.*'
sudo apt-get remove --purge '^libnvidia-.*'
sudo apt-get remove --purge '^xserver-xorg-vide-nvidia-.*'
sudo apt-get remove --purge '^cuda-.*'
sudo apt-get remove --purge '^cudnn-.*'
sudo apt-get remove --purge '^libcudnn8-.*'
sudo apt-get remove --purge '^libcudnn8*'
sudo apt-get remove --purge '^libcudnn7-.*'
sudo apt-get remove --purge '^libcudnn7*'
sudo apt-get remove --purge '^libnvinfer-.*'
sudo apt-get remove --purge '^nv-tensorrt-.*'</code></pre>


移除内核模块
<pre><code class="powershell">lsmod | grep nvidia
ps aux | grep nvidia
sudo rmmod nvidia_uvm
sudo rmmod nvidia_drm
sudo rmmod nvidia_modeset
sudo rmmod ipmi_msghandler
sudo rmmod nvidia</code></pre>

dpkg清除cache
<pre><code class="powershell">sudo rm /var/lib/dpkg/lock
sudo rm /var/lib/dpkg/lock-frontend
sudo rm /var/cache/apt/archives/lock
sudo apt update
sudo dpkg --configure -a</code></pre>

<strong>Tensorflow</strong><br />
<a target="_blank" href="https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-2.1.0-cp37-cp37m-manylinux2010_x86_64.whl">Tensorflow-GPU Python3.7</a><br /><br />

<strong>CUDA</strong><br />
<a target="_blank" href="https://developer.nvidia.com/cuda-toolkit-archive">CUDA Toolkit List</a><br />
<a target="_blank" href="https://developer.nvidia.com/cuda-10.1-download-archive-update2?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1804&target_type=deblocal">CUDA Toolkit Ubuntu 18.04 deb</a><br />

<a target="_blank" href="https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#ubuntu-installation">CUDA installation guide</a><br /><br />

環境變量
<pre><code class="powershell">export PATH=/usr/local/cuda-10.2/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}</code></pre>

<strong>cuDNN</strong><br />
<a target="_blank" href="https://developer.nvidia.com/rdp/cudnn-archive">cuDNN 下載</a><br />
<a target="_blank" href="https://docs.nvidia.com/deeplearning/cudnn/install-guide/index.html#network-installation">cuDNN 官方安裝文檔 </a><br /><br />

<strong>TensorRT</strong><br />
<a target="_blank" href="https://developer.nvidia.com/nvidia-tensorrt-download">TensorRT 下載</a><br />
<a target="_blank" href="https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#downloading">TensorRT 官方安裝文檔 </a><br /><br />

<strong>官方安裝</strong><br />
<a target="_blank" href="https://www.tensorflow.org/install/source#tested_build_configurations">Tensorflow 版本對照表</a><br />
<a target="_blank" href="https://docs.nvidia.com/deeplearning/cudnn/support-matrix/index.html">cuDNN 版本對照表</a><br />
<a target="_blank" href="https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html">CUDA Toolkit and Compatible Driver 版本對照表</a><br />
<a target="_blank" href="https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/rel_20-08.html#rel_20-08">Tensorflow-release-notes</a><br />
<a target="_blank" href="https://docs.nvidia.com/deeplearning/frameworks/support-matrix/index.html">Docker container</a><br /><br />

<strong>测试 cuda</strong><br />
<pre><code class="powershell">git clone https://github.com/NVIDIA/cuda-samples
cd cuda-samples
sudo make all -j8
cd bin/x86_64/linux/release
./deviceQuery</code></pre>

啟動
<pre><code class="powershell">sudo ./venv/bin/jupyter lab --ip=0.0.0.0 --port=80 --allow-root --NotebookApp.iopub_data_rate_limit=1.0e10
sudo ./venv/bin/tensorboard --logdir logs/fit/ --port=81 --host=0.0.0.0
sudo ./venv/bin/python web-server-dev.py
sudo ./venv/bin/python web-server-client.py
sudo ./venv/bin/python market-data.py</code></pre>

(可能有用的)依賴庫
<pre><code class="powershell">sudo apt-get install python3.7-dev 
sudo apt-get install mysql-client
sudo apt-get install libsqlclient-dev
sudo apt-get install libmysqlclient-dev
sudo apt-get install libssl-dev</code></pre>

mpl_finance
<pre><code class="powershell">pip install https://github.com/matplotlib/mpl_finance/archive/master.zip</code></pre>

TA-lib
<pre><code class="powershell">tar -xzf ta-lib-0.4.0-src.tar.gz
cd ta-lib/
./configure --prefix=/usr
make
sudo make install
sudo apt upgrade
pip install TA-Lib</code></pre>

設置venv
<pre><code class="powershell"># 設置路徑
export PATH=/usr/local/cuda-10.2/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
# 手動鏈接庫
sudo ln -s /usr/local/cuda-10.2/targets/x86_64-linux/lib/libcudart.so.10.2 /usr/lib/x86_64-linux-gnu/libcudart.so.10.1</code></pre>

<pre><code class="powershell"># 設置路徑
export PATH=/usr/local/cuda-11.1/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
# 手動鏈接庫
sudo rm /usr/lib/x86_64-linux-gnu/libcusolver.so.10
sudo ln -s /usr/local/cuda-11.1/targets/x86_64-linux/lib/libcusolver.so.11 /usr/lib/x86_64-linux-gnu/libcusolver.so.10</code></pre>

查詢路徑
<pre><code class="powershell">python3 -c "import sys; print(sys.path)"
sudo python3 -c "import sys; print(sys.path)"</code></pre>

vnc
<pre><code class="powershell">#!/bin/bash
xrdb $HOME/.Xresources
vncconfig -iconic &
autocutsel -s CLIPBOARD -fork &
startxfce4 &</code></pre>

<a target="_blank" href="https://aur.archlinux.org/packages/github-desktop-bin/">github desktop</a><br />
<pre><code class="powershell">sudo apt install gnome-keyring
sudo dpkg -i GitHubDesktop-linux-2.5.7-linux1.deb</code></pre>

</div>
</div>
</div>

</div>
</body>
<html>