<html>
<head>{% include 'header.html' %}</head>
<script>
var ui = {};
function initUI() {}
$(document).ready(function() {
  initUI();
});
</script>
<style>
</style>
<body>
{% include 'navbar.html' %}
<div class="container">

<div class="row">
<div class="col-sm-12">
<div class="body-container">
  <h6>Reference links</h6>
  <a target="_blank" href="https://www.bollingerbands.com/bollinger-band-rules">bollinger band 22 rules</a><br />
  <a target="_blank" href="https://www.bollingerbands.com/bollinger-band-rules">percent-b</a><br />
  <a target="_blank" href="https://cn.tradingview.com/scripts/vwap/">成交量加权平均价VWAP</a><br />
  <a target="_blank" href="https://www.investors.com/how-to-invest/investors-corner/what-is-a-follow-through-day/">What Is A Follow-Through Day?</a><br />
</div>
</div>
</div>
    
<br /><br />
    
<div class="row">
<div class="col-sm-12">
<div class="body-container">
  <h6>Technical Indicator</h6>
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">List</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Momentum Indicators</th>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</div>


</div>
</body>
<html>