<style>
.nav-item {margin-right: 6px;}
.navbar-light .navbar-brand {font-size: 18px;}
.navbar-light .navbar-nav .nav-link, .dropdown-item {font-size: 14px;}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand mb-0 h1" href="http://10.10.1.57:82/">Dbpower Machine Learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
    <a class="nav-link" href="http://10.10.1.57:82/">Home</a>
    </li>
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="avascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Input Data</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/data">NQ</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="avascript:void(0)">HSI</a>
      </div>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="avascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Train Features</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/chart">NQ</a>
      </div>
    </li>
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="avascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Train Results</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/result">NQ</a>
      </div>
    </li>
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="avascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prediction</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/prediction">NQ</a>
      </div>
    </li>
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="avascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/markdown">Markdown</a>
        <a class="dropdown-item" target="_blank" href="https://github.com/kenny-chen/dbpower-machine-learning-project">Github</a>
        <a class="dropdown-item" target="_blank" href="http://10.10.1.57:81/">Tensorboard</a>
      </div>
    </li>
   
  </ul>
  </div>
</nav>
<div class="header-btm"></div>