<style>
.nav-item {margin-right: 6px;}
.navbar-light .navbar-brand {font-size: 18px;}
.navbar-light .navbar-nav .nav-link, .dropdown-item {font-size: 14px;}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand mb-0 h1" href="javascript:void(0);">IB Trade Platform API</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

</nav>
<div class="header-btm"></div>